.flex-container{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	height:150px;
	width:150px;
	border: 10px solid black;
}

.flex-container div{
	font-size: 100px;
	align-content: center;
}

/*#first-row{}
*/	
