.flex-container{
	display: flex;
	justify-content: space-evenly;
	flex-flow: row wrap;
	height:500px;
	width:250px;
	border: 1px solid black;
}

.flex-container div{
	font-size: 100px;
	align-content: center;
}

.numButton{
	padding: 10px;
	border: 1px solid black;
}
